@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Yaldevi:wght@600&display=swap');

body{
    background: black;
}

#principal{
    width: 1000px;
    height: 700px;
    margin: 30px auto;
    background: white;
}

header{
    background-image: url(../images/Sistemas-de-gestion-de-la-calidad.jpg);
    background-size: 100% 70%;
    background-attachment:scroll;
    background-repeat: no-repeat;
    width: 1000px;
    height: 400px;
}

section{
    background-color: white;
}

h1{
    color: white;   
    padding: 10% 0% 0% 25%;
    font-family: 'Yaldevi', sans-serif;;
}

h2{
    font-family: 'Yaldevi', sans-serif;
}

.información{
    padding: 0% 13% 0% 5%;
}

.información p{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.información img{
    padding: 5% 0% 0% 25%;
}

li{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

